<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="LEKTIONS_AUTOR" content="LEKTIONS_TITEL">

	<title>LEKTIONS_UNTERTITEL</title>
	<link rel="stylesheet" href="../../../main.css?v=1.0">

</head>
<body>

	<!-- Für weitere Beispiele bitte folgende Lektion referenzieren: password/password_safety -->

	<!-- Zwischenüberschrift -->
	<h1>SUBHEADING_1</h1>

	<!-- Standard-Text -->
	<p>TEXT</p>
	
	<!-- Kleines Bild -->
	<img src="img/img_TEST.jpg" class="img-small">

	<!-- Mittelgroses Bild -->
	<img src="img/img_TEST.jpg" class="img-medium">
	
	<!-- Grosses Bild -->
	<img src="img/img_TEST.jpg" class="img-large">

	<!-- Bild mit Hyperlink -->
	<a href="https://duckduckgo.com/">
	    <img src="img/img_TEST.jpg" class="img_button">
	</a>

</body>
</html>