<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="FM" content="Password Safety">

	<title></title>
	<link rel="stylesheet" href="../../../main.css?v=1.0">

</head>
<body>

<p>Quiz introduction or description</p>

<form>
	<p>Question 1</p>
	<input type="radio" id="answer1" name="answer" value="false">
	<label for="answer1">Answer 1</label><br>
	<input type="radio" id="answer2" name="answer" value="true">
	<label for="answer2">Answer 2</label><br>
</form>

<form>
	<p>Question 2</p>
	<input type="radio" id="answer3" name="answer" value="false">
	<label for="answer1">Answer 1</label><br>
	<input type="radio" id="answer4" name="answer" value="true">
	<label for="answer2">Answer 2</label><br>
	<input type="radio" id="answer5" name="answer" value="false">
	<label for="answer1">Answer 3</label><br>
</form>

<form>
	<p>Question 3</p>
	<input type="radio" id="answer6" name="answer" value="false">
	<label for="answer2">Answer 1</label><br>
	<input type="radio" id="answer7" name="answer" value="true">
	<label for="answer1">Answer 2</label><br>
</form>

<form>
	<p>Question 4</p>
	<input type="radio" id="answer8" name="answer" value="false">
	<label for="answer2">Answer 1</label><br>
	<input type="radio" id="answer8" name="answer" value="false">
	<label for="answer2">Answer 2</label><br>
	<input type="radio" id="answer8" name="answer" value="false">
	<label for="answer2">Answer 3</label><br>
	<input type="radio" id="answer8" name="answer" value="false">
	<label for="answer2">Answer 4</label><br>
</form>


</body>
</html>