<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="LESSON_AUTHOR" content="LESSON_TITLE">

	<title>LESSON_SUB-TITLE</title>
	<link rel="stylesheet" href="../../../main.css?v=1.0">

</head>
<body>

	<!-- for further reference material please take a look at the lesson password/password_safety -->

	<!-- text subheading -->
	<h1>SUBHEADING_1</h1>

	<!-- standard text -->
	<p>TEXT</p>

	<!-- medium sized image -->
	<img src="img/img_TEST.jpg" class="img-medium">

	<!-- hyperlink image -->
	<a href="https://duckduckgo.com/">
	    <img src="img/img_TEST.jpg" class="img_button">
	</a>

</body>
</html>